<ng-container>
  <ng-container *ngIf="books$ | async as books">
    <ng-container *ngIf="books && books.length > 0; else noBooks">
      <div
        class="d-flex justify-content-between align-items-center mb-4"
        *ngFor="let book of books"
      >
        <app-book-row-item [book]="book"></app-book-row-item>
        <button mat-fab color="warn" class="ms-5" (click)="removeBook(book)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </ng-container>
    <ng-template #noBooks>
      <div class="text-center">
        <h2>There is no books right now in your wishlist</h2>
      </div>
    </ng-template>
  </ng-container>
</ng-container>
